<div class="container">

    <div class="col-sm-4 col-md-4 col-lg-4 mb-4 mt-4">
        <app-update-categorie [categorie]="updatedCat"
        [ajout] = "ajout"
        (categorieUpdated)="categorieUpdated($event)"></app-update-categorie>

    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Catégorie</th>
                    </tr>
                </thead>
                <tbody *ngFor="let categorie Of categories">
                    <tr>
                        <td>{{categorie.idCat}}</td>
                        <td>{{categorie.nomCat}} </td>
                        <td><a (click)="updateCat(categorie)" class="btn btn-warning">Editer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>