<div  class="container">
    <div class="card shadow">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date de creation</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody *ngFor="let produit of produits">
                    <tr>
                        <td> {{produit.idProduit}} </td>
                        <td> {{produit.nomProduit}} </td>
                        <td> {{produit.prixProduit}} </td>
                        <td>{{produit.dateCreation |date:"dd/mm/yyyy"}} </td> 
                        <td><a class="btn btn-danger" (click)="supprimerProduit(produit)"> Supprimer</a> </td>
                        <td><a class="btn btn-warning" routerLink="['/updateProduit',produit.idProduit]">Modifier</a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
